*{
    box-sizing: border-box;
}
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2px;
}
.card_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
    border-radius: 2em;
    background-color: palegoldenrod;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.card_details_text h3{
    margin-top: 1em;
    margin-bottom: 0.5px;
}
.card_contents p{
    margin-bottom: 1em;
    text-align: left;
}

.pricing_details{
   display: flex;
   flex-direction: column;
    color: black;
    
}
.yearly_bill{
    color: black;
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;

}
.monthly_bill_details{
    font-size: 6em;
}
.card_free{
    align-self: center;
    width: 90%;
    margin-bottom: 1em;
}
.card_free button{
    padding: 1em;
    border-radius: 1.5em;
    background-color: white;
    width: 100%;
    border: none;
    color: black;
    font-size: 1rem;
    font: 700;
}
.list{
    margin-bottom: 20px;
}
span{
    border-bottom: hsl(0deg, 0%, 20%) dotted;
}
